<h3><a href="#lineups" data-toggle="collapse">Gameweek {{ nextGameWeek }} Lineups</a></h3>

<p *ngIf="teamLineups.length === 0"><em>No lineups have been set!</em></p>

<div id="lineups" class="collapse in" *ngIf="teamLineups.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-3">Team</th>
                <th class="col-sm-7"></th>
                <th class="col-sm-2">Set</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teamLineupItem of teamLineups" [class.bg-danger]="!teamLineupItem.dateSet" [class.text-success]="teamLineupItem.dateSet">
                <td>{{ teamLineupItem.teamName }}</td>
                <td class="small"><span *ngIf="teamLineupItem.players && teamLineupItem.players.length > 0" [innerHTML]="teamLineupItem.players | getLineupString"></span></td>
                <td>
                    <span *ngIf="teamLineupItem.dateSet">{{ teamLineupItem.dateSet | formatDate }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>